{% extends "base.html" %}
{% block content %}
  <div class="col d-flex justify-content-center pt-md-5">
    <div class="card">
      <div class="card-header">
        <h6>You have successfully logged out</h6>
      </div>
      <div class="card-body logout-card text-center">
        <a class="btn btn-primary btn-custom mx-3 my-3" href="{% url 'login' %}">Log In</a>
        <a class="btn btn-primary btn-custom mx-3 my-3" href="{% url 'restaurant:index' %}">Homepage</a>
      </div>
    </div>
  </div>
{% endblock %}