{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Reset Password{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card col-4 m-3">
      <div class="card-header">
        <h6>Reset password confirmation</h6>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="pt-3">
            <button class="btn btn-primary btn-custom" type="submit">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}