{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <h6>An email with instruction to reset your password has been sent.</h6>
      </div>
      <div class="card-body">
        <p class="text-center">
          We have sent instructions to reset your password to your email address.
        </p>
        <p class="text-center">
          If you haven't received the email, please ensure that you have correctly 
          specified your email address in your account settings. 
          Additionally, please check your email inbox's spam folder.
        </p>
        <div class="text-center">
          <a class="btn btn-custom mx-3 my-3" href="{% url 'restaurant:index' %}">Homepage</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}