{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Change Password{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center pt-md-5">
    <div class="card">
      <div class="card-header">
        <h6>You have successfully changed password!</h6>
      </div>
      <div class="card-body pt-md-3 text-center">
        <a class="btn btn-primary btn-custom mx-3 my-3" href="{% url 'restaurant:index' %}">Homepage</a>
      </div>
    </div>
  </div>
{% endblock %}