<!-- templates/core/500.html -->
{% extends "base.html" %}
{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
<div class="col d-flex justify-content-center pt-md-5">
    <div class="card">
      <div class="card-header">
        <h3>Unfortunately, something went wrong</h3>
      </div>
      <div class="card-body logout-card text-center">
        <a class="btn btn-custom mx-3 my-3" href="{% url 'restaurant:index' %}">Homepage</a>
      </div>
    </div>
  </div>
{% endblock %}