{% extends "base.html" %}
{% load static %}
{% block title %}
  Menu
{% endblock %}
{% block content %}
<div class="row">
  <section class="col-md-3"></section>
  <section class="col-md-8 text-start pt-1">
    <div class="col d-flex justify-content-start">
      <div class="card" style="width: 60rem; opacity: 1.0;">
        <div class="card-header">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h5>{{ dish.name }}</h5>
              </div>
              <div class="col-md-6">
                <h5>${{ dish.price }}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row mb-3">
                <img src="{{ dish.image.url }}">
            </div>
            <div class="row">
                {{ dish.description|linebreaks }}
            </div>
            <a class="btn btn-custom" id="backButton">Back</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-md-1"></section>
  <script>
    // Script to navigate to the previous page
    document.getElementById('backButton').addEventListener('click', function() {
        if (window.history.length > 1) {
            window.history.back();
        } else {
            window.location.href = '/';
        }
    });
</script>
{% endblock %}