<!-- Template of the main page stocks -->

{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container-fluid py-3 text-center text-primary"><strong><h4>Your current portfolio</h4></strong></div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
                <th scope="col">Value</th>
                {% if portfolio["shares"] %}
                    <th scope="col">Buy shares</th>
                    <th scope="col"></th>
                    <th scope="col">Sell shares</th>
                    <th scope="col"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio["shares"] %}
                <tr>
                    <th scope="col" class="text-start">{{ stock.issuer }}</th>
                    <td class="text-start">{{ stock.symbol }}</td>
                    <td class="text-end">{{ stock.shares_amount }}</td>
                    <td class="text-end">{{ stock.price }}</td>
                    <td class="text-end">{{ stock.value }}</td>
                    <form action="/buy" method="post">
                        <td>
                            <input name="symbol" type="hidden" value="{{ stock.symbol }}">
                            <input autocomplete="off" autofocus class="form-control-sm" id="shares" name="shares" placeholder="Amount to buy" type="number" min="1" required>
                        </td>
                        <td>
                        <button class="btn-sm btn-primary" type="submit">BUY</button>
                        </td>
                    </form>
                    <form action="/sell" method="post">
                        <td>
                            <input name="symbol" type="hidden" value="{{ stock.symbol }}">
                            <input autocomplete="off" autofocus class="form-control-sm" id="shares" name="shares" placeholder="Amount to sell" type="number" min="1" required>
                        </td>
                        <td>
                        <button class="btn-sm btn-primary" type="submit">SELL</button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
            <tr>
                <th class="text-start" scope="row"><h6>Total Shares Value</h6></th>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end"><h6>{{ portfolio["shares_value"] }}</h6></td>
            </tr>
            <tr>
                <th class="text-start" scope="row"><h6>Cash</h6></th>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end"><h6>{{ portfolio["cash"] }}</h6></td>
                <form action="/cash" method="post">
                    <td>
                        <input name="symbol" type="hidden">
                        <input autocomplete="off" autofocus class="form-control-sm" id="amount" name="amount" placeholder="Add cash" type="number" min="1" required>
                    </td>
                    <td>
                    <button class="btn-sm btn-primary" type="submit">ADD CASH</button>
                    </td>
                </form>
            </tr>
            <tr>
                <th class="text-start" scope="row"><h5>Grand Total</h5></th>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end"><h5>{{ portfolio["grand_total"] }}</h5></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
